# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if used later)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
